*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: #01154d;
background: radial-gradient(circle, rgba(1, 21, 77, 1) 100%, rgba(224, 211, 213, 1) 100%);
display: flex;
    justify-content: center;
    align-items: center;

}

.content{
 

    width: 95%;
    height: 95%;
   border:1px solid black;
   display: flex;

   flex-direction: row;

}

#leftbox
{
width:50%;
height: 100%;
border: 1px solid black;
display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-around;
    background-color:#4d084b;
}

#rightbox
{
    width: 50%;
    height: 100%;
    border: 1px solid black;

}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title{
    font-size: 2rem;
    color: white;
    text-align: center;
    font-weight: bold;
}

.info{
    font-size: 1.2rem;
    color: white;
    text-align: center;
    margin-top: 10px;
}

.numbers{
    width: 100%;
    height: 50px;
    
display: flex;

justify-content: space-between;

}

.number{
    margin: 20px;

   
    width: 20%;
    height: 50px;
    font-size: .8rem;
    color: white;
    text-align: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-content:space-around;
}