*{
    margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  height: 100%;
  width: 100%;
}
.container{
    width: 100%;
   height: 100%;
   background-color: rgb(116, 107, 96);
   display: grid;
   gap: 0.5rem;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: repeat(4,1fr);
   padding: 4rem;
   border: 2px solid whitesmoke;
   justify-items: center;
}

.item
{
  height: 100px;
  width: 90px;
  background-color: rgb(71, 48, 48);
  border: 2px solid rgb(9, 33, 24);
  /* justify-self: center; */
  /* align-self: end; */
  place-self: center;

}

