.container{
    display: flex;
    background-color: beige;
    border: 2px solid black;

  justify-content: start;
}
  .box{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    border: 2px solid black;
   ;
align-content: ;

justify-content: ;
  }
#box1{
    background-color: red;
    order: 9;
    flex-shrink: 2s;
}
#box2{
    background-color: blue;
}
#box3{
    background-color: green;
}
#box4{
    background-color: yellow;
}