.box{
height: 400px;
width: 400px;
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
border: 2px solid black;
font-size: 30px;
color: pink;
margin: auto;
transition: all 0.5s ease-in-out;
}

.box:hover{

   transform: translate(0px,2px);
}
 