*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    border: 2px solid black;
    height: 100vh;
    width: 100vw;   
    
    background-color: beige;

}

.box{
    height:100px;
    width:200px;
    border: 3px solid black;
    margin: 20px;
    background-color: rgb(33, 216, 27);
  transition-property: all;
  transition-duration: 1s;
     
    transition-timing-function:cubic-bezier(0.895, 0.03, 0.685, 0.22);

}
.box:hover
{
    width: 400px;
    background-color: rgb(196, 36, 36);
    transition-property: width, background-color;
    transition-duration: 1s;
    transition-timing-function:ease
}
