*{
margin:0px;
padding:0px;
box-sizing: border-box;
}

.container{
width: 100%;   
height: 100vh; 
background: #c5ccde;
background: radial-gradient(circle, rgba(197, 204, 222, 1) 100%, rgba(224, 211, 213, 1) 100%);;
display: flex;
justify-content: center;
align-items: center;

 
.card{

width: 370px;
height: 550px;
border: 2px solid black;
border-radius: 26px;
display: flex;
flex-direction: column;
align-items: center;
gap: 25px;
background-color: azure;
}

.card img{
margin: 0px;

width: 368px;
height: 165px;
border-top-left-radius: 24px;
border-top-right-radius: 24px;

}

.summary{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width:75%;
    text-align: center;
}
/* .summery h2{
margin: 10px;
align-self: center;
justify-self: center;
font-size: 1.65rem;
}

.summery p{
    font-size: 1.05rem;
    padding-left: 10px ;
    padding-top:15px;
    justify-self: center;
    margin: 0px 30px 30px 55px
} */

.amount{
width: 80%;
height: 10%;
background-color: rgb(200, 222, 222);

border: 1px solid black;
border-radius: 10px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

#payment{
width: 80%;
height: 9%;
border-radius: 5px;
background-color: rgb(4, 25, 52);
color:white;
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}
 .cancle a{
    text-decoration: none;
    color: black;
    font-weight:bold ;
    font-size: large;
 }
 #logo img
{
    height:35px;
    width: 35px;
    border-radius: 60%;
    margin: 7px;}

    #leftbox{
    display: flex;
    flex-direction: row;
  
    }
    #anualplan{
        margin-top: 9px;
        font-size: 0.9rem;
    }
    #rightbox{
        margin: 15px;